<b><em>Important information about the data set:</b>

Data set itself : https://archive.ics.uci.edu/dataset/222/bank+marketing

The smallest datasets are provided to test more computationally demanding machine learning algorithms (e.g., SVM). 

The classification goal is to predict if the client will subscribe (yes/no) a term deposit (variable y).<em>

In [23]:
# importing the necessary libraries for data analysis

import numpy as np # to work with arrays
import pandas as pd # to work with tabular data
import matplotlib.pyplot as plt # to visualize data using charts and graphs

# importing the dataset to store in a dataframe and checking for null values

df = pd.read_csv('bank-additional-full.csv')

df.isna().sum()

age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"    0
dtype: int64

<em>No null values found.<em>

In [20]:
# checking for duplicate values

df.duplicated().sum()

12

<em>Found duplicate values in 12 rows.<em>

In [30]:
# checking which rows are duplicates from the result obtained above

duplicate_rows = df[df.duplicated()]
print(duplicate_rows)

      age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
1266   39;"blue-collar";"married";"basic.6y";"no";"no...
12261  36;"retired";"married";"unknown";"no";"no";"no...
14234  27;"technician";"single";"professional.course"...
16956  47;"technician";"divorced";"high.school";"no";...
18465  32;"technician";"single";"professional.course"...
20216  55;"services";"married";"high.school";"unknown...
20534  41;"technician";"married";"professional.course...
25217  39;"admin.";"married";"university.degree";"no"...
28477  24;"services";"single";"high.school";"no";"yes...
32516  35;"admin.";"married";"university.degree";"no"...
36951  45;"admin.";"married";"university.degree";"no"...
38281  71;"retired";"single";"university.degree";"no"...

<em>After a quick analysis, found that there are no whole row duplicates, but just some duplicate values concerning job description, marital status, education, etc...so no need to clean duplicates.<em>

In [36]:
# displaying column names 

df.columns

Index(['age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'], dtype='object')

<em>Some column names are not very explicit and thus need to be changed for better understandability.<em>